body{
/*    margin: 0;
    padding: 0;*/
    background-color: #f7ede2;
}
.bg{
/*    margin-top: -10%;*/
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    position: absolute;
}
nav{
    z-index: 2;
}
.logo{
    letter-spacing: 15px;
    margin-left: 20px;
    text-transform: uppercase;
    position: fixed;
    z-index: 3;
    font-family: Andalus;
    font-size: 30px;
    color: #000;
}
.test {
    background-color: #f7ede2;  
    padding-bottom: 5px;
}

nav ul,li a{
    font-size:18px ;
    color: #000;
}

.rectangle{
    background-color: #84A59D;
    width: 90%;
    margin: 150px 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    position: relative;
    padding: 40px;
    opacity: 90%;
    margin-bottom: 15%;
}
p{
    font-size: 28px;
    text-align: center;    
    padding: 0 40px;
    font-family: Arabic Typesetting;
}
.btn{
    background-color: #F28482;
    border-radius: 20px;
    padding: 4px 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    font-family: Arabic Typesetting;
    font-size: 22px;
}
#readmore:hover,#readmore:active,#readmore:focus{
    opacity: 100%;
    border: #fff 1px solid;
    box-shadow:none !important;
    outline:0px !important;    
}
.title{
    font-size: 30px;
    text-align: center;    
    font-family: Arabic Typesetting;

}
.title span{
    text-transform: uppercase;   
}
.card-title{
    text-align: center;
}
.imgcard{
    margin: 20px 0 50px;
}
.card-body{
    background-color: #f7ede2!important;
    border: none!important;
}
.rectangle2{
    background-color: #F5CAC3;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    position: relative;
    padding: 40px;
    opacity: 90%;
    margin-top: -40%;
}
.bg2{
    width: 100%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    position: sticky;
}
.btn2{
    background-color: #F9C571;
}
.cards2{
    margin-top: 25%;
}
.img-gallary{
    width: 12rem;
}
.img-row{
    display: flex;
    justify-content: space-around;
    margin: 4%;
}
.info{
    background-color: #F5CAC3;
    padding: 40px;
}
form{
    padding-left: 20%;
}
.formbtn{
    height: 35px!important;
    margin-top: 33px;
}
input{
    background-color: #f7ede2!important;
    border-radius: 20px!important;
}
#input:hover,#input:active,#input:focus{
    border: none!important;
    box-shadow:none !important;
    outline:0px !important;    
}